<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing a Master of Science in Software Engineering at 
      <a class="underline-link" href="https://www.sjsu.edu/" target="_blank">San Jose State University.</a> I belong to India, where I finished my bachelor's degree in Software Engineering from
      <a class="underline-link" href="https://www.srmist.edu.in/" target="_blank">SRM Institute of Science and Technology.</a> After my bachelor's degree, I interned at 
      <a class="underline-link" href="https://www.tekafforde.com/" target="_blank">TekAfforde Solutions Pvt.Ltd</a> a Bangalore-based start-up where I had the opportunity to experience various 
      state-of-the-art business automation, software development, and outsourcing services. 
    </p>

    <p>
      As a software engineer and Data science enthusiast, I enjoy bridging the gap between engineering and data &mdash; combining my technical knowledge with my data-driven analytical mindset 
      to find meaningful patterns and reliable, accurate insights from data to add values to businesses and society. I'm always curious and love exploring new and challenging things. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably with a soccer ball, gardening or crossing off another item on my bucket list. <strong>FYI,</strong> Played in Soccer Nationals<em>(India).</em>
      My motto in life <strong>'Surpass your limit. right here,right now'.</strong>😁 
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
