<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic phones">
        <a href="https://github.com/JanaarthanaHarri/FundGalaxy" target="_blank">
          <img src="img/featured/fundgalaxy/fg-01.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/JanaarthanaHarri/FundGalaxy" target="_blank">FundGalaxy</a>
        </div>
        <p> Designed a <a href="https://github.com/JanaarthanaHarri/fundgalaxy-api" target="_blank">smart search recommendation system</a> 
          that can streamline the process of finding potential investments/investors using CrunchBase API and deployed it on Heroku via REST API.
          </p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://github.com/JanaarthanaHarri/Virtual-Assistant-Chatbot" target="_blank">
            <img src="{{site.baseurl}}/img/featured/chatbot/chat.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/JanaarthanaHarri/Virtual-Assistant-Chatbot" target="_blank">Virtual Assistant-Chatbot</a>
        </div>
        <p>Developed a responsive AI-powered chatbot to handle customer queries regarding food order
          takeaways. Built using conversational AI platform called RASA. </p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/JanaarthanaHarri/Store_sales---Time-Series-Forecasting" target="_blank">
          <img src="img/featured/storesales/salesavg.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/JanaarthanaHarri/Store_sales---Time-Series-Forecasting" target="_blank">Store Sales Forecasting</a>
        </div>
        <p>Forecasted store sales on data from Corporación Favorita, a large Ecuadorian-based grocery retailer. Implemented a custom regressor using Ridge and Random Forest 
          models and achieved a competitive RMSLE score of 0.42.</p>
      </figcaption>
    </div>
  </div>
</section>
